# Node modules
node_modules/

# Build output
.next/
out/
build/

# Local env files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
services/symmetricds/server/logs/
services/symmetricds/server/tmp/
backups/postgres/*.dump
backups/postgres/*.sql

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
